<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Structured Encryption</title>
    <script src="/sjcl.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="content">
        <div class="row bg-secondary" style="margin:auto; width:100%; max-width:1000px; min-height:100vh; height:100%">
            <div class="col-6">
                <h2>Log In</h2>
                <form id="login">
                    <p><input class="form-control" type="text" placeholder="Username" name="username"></p>
                    <p><input class="form-control" type="password" placeholder="Password" name="password"></p>
                    <p><btn class="btn btn-primary">Log In</btn></p>
                </form>
            </div>
            <div class="col-6">
                <h2>Register</h2>
                <form id="register">
                    <p><input class="form-control" type="text" placeholder="Username" name="username"></p>
                    <p><input class="form-control" type="password" placeholder="Password" name="password"></p>
                    <p><input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword"></p>
                    <p><btn class="btn btn-primary">Register</btn></p>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
    const K = [3];
    const w = 128;
    const n = 128;

    var aes = new sjcl.cipher.aes(sjcl.random.randomWords(4));
    var aes2 = new sjcl.cipher.aes(sjcl.random.randomWords(4));
    var aes3 = new sjcl.cipher.aes(sjcl.random.randomWords(4));

    function gen(password) {
        K[1] = sjcl.misc.pbkdf2(password, "", 40000, 128);
        prf = new sjcl.cipher.aes(K[1]);
        K['iv'] = sjcl.misc.pbkdf2(password, "", 40001, 128);
        K[2] = sjcl.random.randomWords(4);
        aes2 = new sjcl.cipher.aes(K[2]);
        K[3] = sjcl.random.randomWords(4);
        aes3 = new sjcl.cipher.aes(K[3]);

    }

    function enc(M, message) {
        const s1 = M.length;
        const s2 = M[0].length;
        let C = [];
        for(let i = 0; i < s1; i++) C[i] = [];
        let c = [];
        for(let i = 0; i < s1*s2; i++) c[i] = [];
        const p = genPermutation(s1, s2);
        const P = genPRP(s1, s2);
        for(let i = 0; i < s1; i++) {
            for(let j = 0; j < s2; j++) {

                let plaintext = M[i][j];
                let a = P[i][j][0];
                let b = P[i][j][1];
                let ciphertext;

                if(plaintext !== null) {


                    let _i = M[i][j];
                    let s = JSON.stringify(p[_i], message['v'][_i]);
                    let bits = utf8Decode(s);
                    ciphertext = encrypt(JSON.stringify([a,b]));
                    for (let k = 0; k < ciphertext.length; k++) {
                        ciphertext[k] ^= (bits[k]);
                    }
                }
                else {
                    ciphertext = encrypt(sjcl.random.randomWords(4)); //todo
                }


                C[a][b] = base64Encode(ciphertext);
            }
        }
        for(let i = 0; i < message['v'].length; i++) {
            c[p[i]] = encryptMessage(message['m'][i]);
        }
        console.log(C, c);
    }

    function token(a, b) {
        T = {};
        T['s'] = utf8Encode(encrypt(JSON.stringify([a, b])));
        let coords = permute(a, b);
        T['a'] = coords['a'];
        T['b'] = coords['b'];
        return T;
    }

    function dec(c) {
        return sjcl.mode.gcm.decrypt(aes, c, K['iv'])
    }

    //Black and Rogaway Prefix Cipher
    function genPRP(s1, s2) {
        let P = [];
        let weights = [];

        //Pseudorandomly generate weights for each pair (a, b) in M
        for(let i = 0; i < s1*s2; i++) {
            weights[i] = {k:[Math.floor(i/s2), i%s2], v:weight(i)};
        }

        //Sort weights
        weights = weights.sort(function(a, b) {
            return a.v.localeCompare(b.v);
        });

        //Generate permutation matrix
        for(let i = 0; i < s1; i++) {
            P[i] = [];
            for(let j = 0; j < s2; j++) {
                P[i][j] = weights[i*s2 + j]['k'];
            }
        }
        return P;
    }

    //Generate permutation for message sequence
    function genPermutation(s1, s2) {
        let p = [];
        let set = [];
        let s = s1*s2;
        for(let i = 0; i < s; i++) set[i] = i;
        for(let i = s-1; i >= 0; i--) {
            let n = randomNumber(i + 1);
            p[i] = set[n];
            set.splice(n,1);
        }
        return p;
    }

    function utf8Decode(string) {
        return sjcl.codec.utf8String.toBits(string);
    }

    function utf8Encode(bits) {
        return sjcl.codec.utf8String.fromBits(bits);
    }

    function base64Encode(bitstring) {
        return sjcl.codec.base64.fromBits(bitstring);
    }

    function base64Decode(string) {
        return sjcl.codec.base64.toBits(string);
    }

    function hexEncode(bits) {
        return sjcl.codec.hex.fromBits(bits);
    }

    function hexDecode(string) {
        return sjcl.codec.hex.toBits(string);
    }

    function randomNumber(max) {
        let words = sjcl.random.randomWords(2);
        return parseInt(sjcl.codec.hex.fromBits(words), 16) % max;
    }

    function encrypt(string) {
        return sjcl.mode.gcm.encrypt(aes, utf8Decode(string), K['iv']);
    }

    function weight(num) {
        let hex = num.toString(16);
        return hexEncode(sjcl.mode.gcm.encrypt(aes2, hexDecode(hex), K['iv']));
    }

    function encryptMessage(string) {
        return base64Encode(sjcl.mode.gcm.encrypt(aes3, utf8Decode(string), K['iv']));
    }

    function test() {
        let matrix = [ [0,1,2],[3,4,5],[6,7,8] ];
        let message = {'v':['a','b','c','d','e','f','g','h','i'], 'm':['aa','bb','cc','dd','ee','ff','gg','hh','ii']};
        gen('pass');
        enc(matrix, message);
    }
</script>
</html>